body {
    width: 100%;
    margin: 2%;
    }
img {
    max-width: 80%;
    position: relative;
}

#welcome {
        width: 33.8%;
  
    left: 11%;
    
    position: absolute;
    top:7.5%;
    height: 10%;
}

table{
    width: 33.8%;
   border-radius: 10px;
    left: 11%;
   
    position: absolute;
    top:22.5%;
    height: 33.6%;
}

tr {
	
	padding-left:5%;
	padding-right:40px;
	height:20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	align-content:center;
	color:red;
	margin-bottom:2px;
	}
	
	td {
	padding-right:10px;	
	padding-left:10px;	
		}
input {
    height: 20px;
    width: 65%;    
 padding-top:2px;
 padding-left:10px;     
}

	input[type=button] 
	{
		color:white;
		background-color:green;
		 font-weight: bold; 		
		}

h1 {
    font-family: sans-serif;
    color: green;
    font-size: 2.5em;
    align-content: center;
    line-height: 0.5em;
   text-align: center;
  font-weight: bold; 

}
h3{
    font-family: Monospace;
    color: coral;
    font-size: 26px;
    line-height: 0.5em;
    padding-left: 5px;
}

h2, h4 {
     font-family: sans-serif;
    color: blue;
    line-height: 0.1em;
   padding-left: 5px;
    text-align: center;
    font-size: 120%;
  
}